<div id="core">
    
    <div id="core-content" class="measure">
       
        <h1 id="core-title">Dashboard</h1>

        <div class="block box">
            
            <div class="block-header">
                <h2 class="block-title"><i class="fa fa-list-alt"></i> Asset List</h2>
                <ul class="block-control">
                    <li><a href="#/dashboard/add"> Add Asset</a></li>
                </ul>
            </div>

            <table class="block-table">
                <tr>
                    <th ng-repeat="(key, value) in assets[0]">{{ key }}</th>
                    <th>Details</th>
                </tr>
                <tr ng-repeat="asset in assets">
                    <td ng-repeat="(key, value) in asset">{{ value }}</td>
                    <td><a href="#/dashboard/details/{{ asset.Id }}"><i class="fa fa-bars"></i></td>
                </tr>
            </table>

        </div>

    </div>

</div>