<div id="core">
    
    <div id="core-content" class="measure">
       
        <h1 id="core-title">Edit Asset</h1>
        <div class="box">
            <form action="" class="form-block">
                
                <label for="name">Name:</label><br>
                <input type="text" name="name" placeholder="Name" ng-model="editAsset.name" /><br>

                <label for="description">Description:</label><br>
                <input type="pass" name="description" placeholder="Description" ng-model="editAsset.desc" /><br>

                <label for="serial">Serial:</label><br>
                <input type="pass" name="serial" placeholder="Serial" ng-model="editAsset.serial" /><br>

                <button class="button" ng-click="editAsset()">Add</button>
        
            </form>
        </div>

    </div>

</div>