<div id="core">
    
    <div id="core-content" class="measure">
       
        <h1>Login</h1>
        <div class="box">
            <form action="" class="form-block">
                
                <label for="username">Username:</label><br>
                <input type="text" name="username" placeholder="Username" /><br>

                <label for="username">Password:</label><br>
                <input type="pass" name="username" placeholder="Password" /><br>

                <button class="button">Log In</button>
        
            </form>
        </div>

    </div>

</div>