<div id="core">
    
    <div id="core-content" class="measure">
       
        <h1>Register</h1>
        
        <div class="box">
            <label for="fullname">Full Name:</label>
            <input type="text" name="fullName">
            <label for="fullname">Email:</label>
            <input type="text" name="email">
            <label for="fullname">Username:</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="pass" name="password">
            <label for="passwordRepeat">Repeat Password</label>
            <input type="pass" name="passwordRepeat">
            <button>Register</button>
        </div>
    </div>

</div>